<div 
    class='listItem' 
    ng-class="{ 
        'listItem--positive': $ctrl.itemData.isPositive, 
        'listItem--negative': !$ctrl.itemData.isPositive 
    }"
    >
    <div class='listItem__date'>
        <span class="listItem__dateDay">{{$ctrl.itemData.date.day}}</span>
        <span class="listItem__dateMonth">{{$ctrl.itemData.date.month}}</span>
        <span class="listItem__dateYear">{{$ctrl.itemData.date.year}}</span>
    </div>
    <div class='listItem__amount'>{{$ctrl.itemData.amount}}</div>
    <div class='listItem__description'>{{$ctrl.itemData.description}}</div>
    <div class='listItem__delete' ng-click="$ctrl.deleteItem()">x</div>
</div>