main.widget_ebitda
    .container
        .title Private EBITDA target
        .contenent
            .avatar
                img(src="img/avatar.png")
            .info
                .clients_num
                    span Retail clients north-east area
                    span 36,560 clients
                .show_list
                    span Show clients list 
                        i.fas.fa-chevron-down