$header_color: #005DAD;
$body_color: #f6f6f6;
$menu_font_color: lightblue;
$menu_font_color_selected: white;
$toolbar_font_color: grey;
$toolbar_font_color_selected: #005DAD;
$link_color:  rgb(0, 153, 255);