<div 
    class='listAlbum' 
    ui-sref="detail({albumId : $ctrl.itemData.id})"
    ng-class="{ 
        'listAlbum--grey': $ctrl.itemIndex%2 === 0, 
    }"
>
    <div class='listAlbum__albumArtist'>{{$ctrl.itemData.artist}}</div>
    <div class='listAlbum__albumName'>{{$ctrl.itemData.name}}</div>
    <div class='listAlbum__albumTrack'>{{$ctrl.itemData.track}}</div>
    <div class='listAlbum__albumAmount'>{{$ctrl.itemData.amount|mtrCurrency}}</div>
    <div class='listAlbum__albumVote'>{{$ctrl.itemData.vote}}</div>
</div>