.widget_white
    .container
        .whiteTitle
            h2 ABOUT
        .whiteText
            h3 THE GROUP
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ex felis. Praesent ac purus ut risus maximus malesuada vel pharetra diam. Quisque feugiat leo ex, eu vestibulum nibh sollicitudin vitae. Aenean sed feugiat justo. Nunc posuere efficitur massa eget sodales. Nam elit nibh, venenatis quis pretium non, porta nec nisl. Aliquam facilisis ut dolor vel elementum. Vestibulum et erat non dui convallis finibus. Duis tincidunt molestie nisl pharetra rhoncus. Maecenas et mattis odio. Vivamus consectetur nec justo a condimentum. Quisque dictum augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            h3 MISSION
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ac ex felis. Praesent ac purus ut risus maximus malesuada vel pharetra diam. Quisque feugiat leo ex, eu vestibulum nibh sollicitudin vitae. Aenean sed feugiat justo. Nunc posuere efficitur massa eget sodales. Nam elit nibh, venenatis quis pretium non, porta nec nisl. Aliquam facilisis ut dolor vel elementum. Vestibulum et erat non dui convallis finibus. Duis tincidunt molestie nisl pharetra rhoncus. Maecenas et mattis odio. Vivamus consectetur nec justo a condimentum. Quisque dictum augue nibh. Lorem ipsum dolor sit amet, consectetur adipiscing elit.