body{
    font-family: Arial, Helvetica, sans-serif;
}
.addNewAmount{
    display: flex;
    flex-direction: row;
    .block1{
        display: flex;
        flex-direction: column;
        background-color: gold;
        width:70%;
        &__elementInputs{
            display: flex;
            flex-direction: column;
            width:100%;
            padding: 10px;
            box-sizing: border-box;
            &Lbl{
                margin-bottom: 5px;
                color: royalblue;
            }

            &Text{
                width:100%;
                margin-bottom: 10px;
                box-sizing: border-box;
                padding: 10px 5px;
                border: 1px solid royalblue;
                &--currency{
                    font-weight:bold;
                }
            }
        }
        @media (min-width: 960px){
            display: flex;
            flex-direction: row;
            &__elementInputs{
                display: flex;
                flex-direction: column;
                width: 50%;
            }
        }
    }
    &__elementButton{
        display: flex;
        align-items: stretch;
        background-color: aquamarine;
        width:30%;
        padding: 10px;
        box-sizing: border-box;
        &Butt{
            width:100%;
            background-color: lightcoral;
            border: 1px solid royalblue;
            color: royalblue;
            font-size: 44px;
            font-weight: bold;

            &:active{
                background-color: coral;
            }
        }
    }
}

.listAmount
{
    background-color: lightblue;
    padding: 10px;
    box-sizing: border-box;
    color: royalblue;
    .listItem{
        background-color: khaki;
        margin-bottom: 10px;
        padding: 10px;
        &__delete{
            color: red;
        }
    }
}