
body {
    font-family: 'Comfortaa', cursive;
}
.mainWrapper {
    width: 80%;
    margin: 0px auto;
}
.myHeader {
    display:block;
    width: 100%;
    background: purple;
    font-size: 14px;
}

.myMenu {
    display: block;
    width: 100%;
    background: yellow;
}
.mySidebar {
    display: inline-block;
    width: 35%;
    background: green;
    height: 150px;
    float: right;
}
.myMain {
    display: inline-block;
    width: 65%;
    background: orange;
    height: 150px;
}
.myFooter {
    display: block;
    width: 100%;
    background: blue;
}

.clear{
    clear: both;
}

.logo{
    /*float: left;*/
    width: 10em;
    height: 10em;
    
}

.title{
    display: inline;
    float:right;
    color: #fff;
    font-family: 'Monoton', cursive;
    font-size:2em;
    line-height: 5em;
}

/* fwfwfsfsfsdfs */
.myMenu {
    display: block;
    width: 100%;
    background: yellow;
    
}

.menuTendinaWrapper{

    position: relative;
    float: left;
    
}

.menuTendinaWrapper span{

    display: inline-block;
    background-color: #000;
    padding: 15px 30px 15px 15px;
    color: #fff;
    font-size: 16px;
    border-radius: 4px;
}

.menuTendina
{
    border: #000 solid 2px;
    position: absolute;
    display: none;
    top: 32px;
    left: 0;
    border-radius: 0px 0px 4px 4px
}

.menuTendinaWrapper:hover .menuTendina{
    display: block;
}

.menuTendinaWrapper:hover span{
    color:red;
}

ul{
    list-style: none;
    padding:16px;
    font-size: 1.5em;
    margin: 0px;
}

li:hover{
    color:red;
}

span i {
 margin-left: 25px;
}