<div class="searchFrm">
    <input class="searchFrm__txt" type="text" ng-model="$ctrl.strSearch">
    <input class="searchFrm__searchBut" type="button" value="cerca" ng-click="$ctrl.searchAlbum()">
    <div class="searchFrm__listResult">
        <ul>
            <li 
                class="searchFrm__listResultLi"
                ng-repeat="result in $ctrl.searchResult"
                ng-class="{'searchFrm__listResultLi--active': result.artistId == $ctrl.selectedItem.artistId}"
                ng-click="$ctrl.selectedItem = result"
            >
            {{result.artistName}} - {{result.collectionName}}
            </li>
        </ul>
    </div>
    <select class="searchFrm__vote" ng-model="$ctrl.albumVote">
        <option ng-value="0">0 &#10032;</option> 
        <option ng-value="1">1 &#10032;</option> 
        <option ng-value="2">2 &#10032;</option> 
        <option ng-value="3">3 &#10032;</option> 
        <option ng-value="4">4 &#10032;</option> 
        <option ng-value="5">5 &#10032;</option> 
    </select>
    <input class="searchFrm__saveBut" type="button" value="salva">
</div>