
doctype html
html
    head
        title Robo Planning
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width,initial-scale=1.0")
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.1/css/all.css", integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans", rel="stylesheet")
        link(rel="stylesheet", href="style/style.css")
    body
        div(class="container")
            header
                div(class="container")
                    div(class="logo")
                        img(src="img/logo.png")
                    div(class="menu")
                        nav(class="menuTop")
                            div(class="menuTopItems")
                                ul
                                    li(class="selected")
                                        a(href="#", class="headerItem") Campaigns
                                    li
                                        a(href="#", class="headerItem") Segments
                                    li
                                        a(href="#", class="headerItem") Products
                                    li
                                        a(href="#", class="headerItem") Model portfolios
                            div(class="menuTopIcons")
                                a(href="#", class="headerIcon")
                                    i(class="fas fa-search")
                                a(href="#", class="headerIcon")
                                    i(class="fas fa-circle")
                                a(href="#", class="headerIcon")
                                    i(class="fas fa-comments")
                                a(href="#", class="headerIcon")
                                    i(class="fas fa-bell")
                                a(href="#", class="headerIcon")
                                    i(class="fas fa-user")
                        nav(class="menuTab")
                            ul
                                li
                                    span(class="headerTab") New Campaigns
        nav.toolbar
            div(class="container")
                ul
                    li
                        a(href="#")
                            i(class="fas fa-check-circle")
                            span Segment Choice and Analysis
                    li
                        a(href="#")
                            i(class="fas fa-check-circle")
                            span Setup Mai Parameters
                    li
                        a(href="#")
                            i(class="fas fa-check-circle")
                            span Strategies and Constraints
                    li
                        a(href="#")
                            i(class="fas fa-check-circle")
                            span Conversions
                    li
                        a(href="#")
                            i(class="fas fa-circle")
                            span Proposals
        main.kpi
            .container
                h1 KPIs
                .widgetContenent
                    .widgetBox
                        .sndLineBig
                            h3 Private EBITDA target
                            div
                                .segment
                                    .title SEGMENT
                                    span Retail clients north-east area
                                .covered
                                    .title COVERED CLIENTS
                                    span 36,560 ON 36,568
                        .infoBox
                            i(class="fas fa-info-circle")
                            span Show clients list
                    .widgetBox
                        .sndLine
                            h5 MODEL PORTFOLIOS
                            .value 4
                        .infoBox
                            i(class="fas fa-info-circle")
                            span Show all
                    .widgetBox
                        .sndLine
                            h5 TARGET PRODUCTS
                            .value 12
                        .infoBox
                            i(class="fas fa-info-circle")
                            span Show all
                    .widgetBox
                        .sndLine
                            h5 EXPECTED AMOUNT
                            .amount 1,200,000,000
                            .currency EUR
                        .infoBox
                            i(class="fas fa-info-circle")
                            span Show all
                    .widgetBox
                        .sndLine
                            h5 CONVERTED AMOUNT
                            .amount 986,610,000
                            .currency EUR
                        .infoBox
                            i(class="fas fa-info-circle")
                            span Show all
